@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Unlimited Pie';
        src: local('Unlimited Pie'), url('/fonts/unlimitedpie/UnlimitedPieRegular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

}